.add-service {
    font-weight: lighter;
    color: black;
    margin-left: 40px;
}

.add-service:hover {
    font-weight: bold;
}

/* .page {
    display: grid;
    width: 100%;
} */

/* .page-content {
    width: 80%;
    padding: 0px 30px;
    display: flex;
    flex-flow: row wrap;
    
} */

.service-page {
    display: flex;
    flex-direction: row;
}

.posts {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column-reverse;
}