.add-service {
    font-weight: lighter;
    color: black;
    margin-left: 40px;
}

.add-service:hover {
    font-weight: bold;
}

.page {
    display: grid;
    width: 100%;
}

.page-content {
    width: 80%;
    display: flex;
}

.posts {
    display: flex;
    flex-flow: row wrap;
    margin-right: 40px;
}