.add-service {
    font-weight: lighter;
    color: black;
    margin-left: 40px;
}

.add-service:hover {
    font-weight: bold;
}

.posts {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column-reverse;
}

.service-page {
    display: flex;
    flex-direction: row;
}