
.add-service-page {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.add-service-form {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn {
    margin-left: 50px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    border-radius: 4px;
    text-transform: lowercase;
    width: 90px;
}

.btn:hover {
    font-weight: bold;
}

.form-group {
    color: #3c0c15;
    font-size: 12px;
    margin-right: 50px;
    text-align: left;
}

.form-item {
    max-width: 500px;
    margin: 6px 80px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #ece2cb;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    margin-bottom: 10px;
    min-height: 62px;
}

.service-form {
    width: 200px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    background-color: #e7e3da;
    text-transform: lowercase;
    outline: none;
    border-style: hidden;
    color: #3c0c15;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 12px;
}

.description {
    height: 100px;
    font-family: Helvetica;
    margin: 12px;
}

.service-categories {
    width: 206px;
    font-size: 12px;
    text-align: center;
    border: hidden;
    background-color: #e7e3da;
    border-radius: 4px;
    margin: 12px;
    color: #3c0c15;
}

.service-label {
    margin-top: 3px;
    margin-left: 10px;
    width: 140px;
    font-size: 13px;
}

.cancel-button {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 0px;
}

.cancel-button:hover {
    font-weight: bold;
}

.add-links {
    padding: 3px 78px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .add-service-page {
        /* width: 350px; */
        display: flex;
        flex-direction: column;
    }
    .add-service-form {
        margin-top: 20px;
        width: 50%;
        margin-left: 90px;
    }
    .page-title {
        margin-left: 20px;
    }
    .form-item {
        display: flex;
        flex-direction: column;
    }
    .service-label {
        margin: 20px 20px 20px 0px;
        font-size: 13px;
    }
    .add-links {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    .cancel-button {
        margin-left: 50px;
    }
}