.home-link {
    background-color: #3c0c15;
    color: white;
    width: 30px;
    border: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
}

.link-button {
    text-align: right;
    margin: 100px;
    border-radius: 8px;
    margin: 40px;
}

.request-card {
    margin-left: 400px;
}

.home-link {
    display: flex;
    justify-content: flex-end;
    width: 130px;
}


.post-detail {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}