
.all-comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments {
    display: grid;
    margin: 20px;
    padding: 10px;
    color: black;
    max-width: 535px;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
    min-height: 52px;
}

.comment-container:nth-child(even) {
    /* background-color: #d9c9ba; */
    background-color: rgba(0, 0, 0, 0.199);
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.comment-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.089);
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.creator {
    font-size: 10px;
    text-transform: uppercase;
    font-style: italic;
    opacity: 70%;
    margin: 0px 10px;
    min-width: 100px;
    text-align: left;
}

.comment-text {
    color: #3c0c15;
    font-size: 14px;
    margin-right: 105px;
}

.x-btn {
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 2px;
    margin-right: 13px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-radius: 4px;
    background-color:rgba(0, 0, 0, 0.089);
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    max-width: 535px;
}

.comment-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.comment-input {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.103);
    outline: none;
    border-style: hidden;
    color: #3c0c15;
    height: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 3px;
    width: 477px;
    margin-left: 16px;
    font-size: 14px;
}

.add-btn {
    border: none;
    padding: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    padding: 8px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 3px;
    margin-right: 15px;
    height: 34px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

