
.all-comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments {
    display: grid;
    margin: 20px;
    padding: 10px;
    color: black;
    max-width: 535px;
}

.s-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
    min-height: 52px;
}

.s-comment-container:nth-child(even) {
    /* background-color: #d9c9ba; */
    background-color: #e2cec1;
    background-color: #d4cbc1;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.s-comment-container:nth-child(odd) {
    background-color: #e6decc;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.comment-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    max-width: 150px;
}

.comment-creator {
    font-size: 10px;
    text-transform: lowercase;
    color: #3c0c15;
    font-style: italic;
    margin: 2px 10px;
    min-width: 100px;
    text-align: left;
}

.comment-date {
    font-size: 9px;
    text-transform: lowercase;
    color: rgb(110, 93, 93);
    font-style: italic;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    min-width: 100px;
}

.my-comment-date {
    font-size: 9px;
    text-transform: lowercase;
    color: rgb(110, 93, 93);
    font-style: italic;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
    margin-left: -42px;
}

.comment-text {
    color: #3c0c15;
    font-size: 14px;
    /* margin-right: 110px; */
    width: 280px;
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: -10px;
}

.x-btn {
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 2px;
    margin-right: 13px;
    margin-left: 0px;
}

.x-btn:hover {
    font-weight: bold;
}
/* 
.button-fill {
    width: 42px;
} */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-radius: 4px;
    background-color: #e6decc;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    max-width: 535px;
}

.comment-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.comment-input {
    text-align: center;
    background-color: #d0cabb;
    outline: none;
    border-style: hidden;
    color: #3c0c15;
    height: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 3px;
    width: 477px;
    margin-left: 16px;
    font-size: 14px;
}

.add-btn {
    border: none;
    padding: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    padding: 8px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 3px;
    margin-right: 15px;
    height: 34px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    font-weight: bold;
}

.group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.norm-erase {
    display: none;
}

@media screen and (max-width: 375px){


    .all-comments-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comments {
        display: grid;
        margin: 20px 0px;
        padding: 10px;
        max-width: 320px;
    }

    .s-comment-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 320px;
        min-height: 52px;
    }

    .s-comment-container:nth-child(even) {
        margin-bottom: 8px;
    }

    .s-comment-container:nth-child(odd) {
        margin-bottom: 8px;
    }

    .comment-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
        max-width: 150px;
    }

    .comment-creator {
        font-size: 10px;
        margin: 2px 10px;
        min-width: 100px;
        text-align: left;
        color: rgb(110, 93, 93);
    }

    .comment-date {
        font-size: 9px;
        text-align: left;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        min-width: 100px;
    }

    .my-comment-date {
        font-size: 9px;
        text-align: left;
        display: flex;
        justify-content: flex-end;
        min-width: 100px;
        margin-right: -92px;
    }

    .comment-text {
        font-size: 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: -10px;
        margin-bottom: 2px;
    }

    .x-btn {
        font-size: 9px;
        padding: 2px 7px;
        border-radius: 4px;
        margin-top: 0px;
        margin-right: 7px;
        margin-left: 0px;
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        max-width: 320px;
    }

    .comment-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
    }

    .comment-input {
        text-align: center;
        height: 30px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: 3px;
        width: 280px;
        margin-left: 9px;
        font-size: 14px;
    }

    .add-btn {
        font-size: 12px;
        padding: 8px 6px;
        margin-top: 3px;
        margin-right: 9px;
        height: 34px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}