.detail-card-container {
    margin-left: 300px;
}

.detail-card {
    margin: 15px 20px 20px 20px;
    /* background-color:#d9c9ba; */
    background-color: 		#d2dbcf;
    color: floralwhite;
    padding: 10px 20px 10px 20px;
    color: black;
    width: 500px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.service-date {
    font-size: 12px;
    color: black;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-dates-label {
    font-size: 11px;
    color: grey;
}

.title-group {
    margin: 20px 0px 25px 0px;
}

.card-name {
    color: #3c0c15;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 3px;;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185);
    border-radius: 10px;
}

.post-date {
    font-size: 11px;
    color: grey;
}

.line-item {
    width: 400px;
    margin: 8px 100px 8px 100px;
    display: flex;
    justify-content: space-between;
}

.categories {
    display: flex;
    flex-flow: row wrap;
    margin-right: 5px;
}

.service-label {
    color: #3c0c15;
    font-size: 12px;
    margin-right: 50px;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.service-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 250px;
    /* text-align: left; */
}

.card-links {
    margin: 40px 100px 20px 100px;
    display: flex;
    font-size: 12px;
    width: 400px;
    justify-content: space-around;
}

.edit {
    background-color: #3c0c15;
    color: white;
    width: 30px;
    border: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
}

.edit:hover {
    font-weight: bold;
}

.delete {
    border: none;
    width: 60px;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.delete:hover {
    font-weight: bold;
}

.home-link {
    background-color: #3c0c15;
    color: white;
    border: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 135px;
}

.home-link:hover {
    font-weight: bold;
}

.link-button {
    text-align: right;
    margin: 100px;
    border-radius: 8px;
    margin: 40px;
}

.service-card {
    margin-left: 400px;
}


@media screen and (max-width: 375px){

    .detail-card-container {
        margin-left: 0px;
    }
    
    .detail-card {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 335px;
        min-height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    
    .service-date {
        font-size: 11px;
        color: black;
        margin: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .service-dates-label {
        font-size: 11px;
        color: grey;
    }
    
    .title-group {
        margin: -15px 0px 10px 0px;
        width: 300px;
        height: 30px;
    }
    
    .card-name {
        color: #3c0c15;
        font-size: 15px;
        border-radius: 10px;
    }

    .card-info {
        width: 320px;
        margin-right: 0px;
    }
    
    .post-date {
        font-size: 11px;
        color: grey;
    }
    
    .line-item {
        width: 300px;
        margin: 8px 0px 8px 0px;
        display: flex;
        justify-content: space-between;
    }
    
    .categories {
        display: flex;
        flex-flow: row wrap;
        margin-right: 5px;
    }
    
    .service-label {
        color: #3c0c15;
        font-size: 11px;
        margin-right: 0px;
        min-width: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
    }
    
    .service-info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        width: 250px;
        /* text-align: left; */
    }
    
    .card-links {
        margin: 20px 0px 0px 0px;
        display: flex;
        align-items: center;
        font-size: 12px;
        width: 320px;
        justify-content: space-around;
    }
    
    .edit {
        background-color: #3c0c15;
        color: white;
        width: 30px;
        border: none;
        padding: 8px;
        font-size: 12px;
        border-radius: 4px;
    }
    
    .edit:hover {
        font-weight: bold;
    }
    
    .delete {
        border: none;
        width: 60px;
        padding: 8px;
        border-radius: 8px;
        font-size: 12px;
        background-color: #3c0c15;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .delete:hover {
        font-weight: bold;
    }
    
    .home-link {
        padding: 8px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        width: 135px;
    }
    
    .link-button {
        text-align: right;
        margin: 0px;
        border-radius: 8px;
        margin: 0px;
    }
    
}