.r-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
    min-height: 52px;
}

.r-comment-container:nth-child(even) {
    /* background-color: #d9c9ba; */
    background-color: #d5d1c4;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.r-comment-container:nth-child(odd) {
    background-color: #e6decc;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}


@media screen and (max-width: 375px){
    .r-comment-container {
        width: 300px;
        margin-left: 0px;
    }
    .comments {
        width: 300px;
    }
    .form-container {
        width: 300px;
        margin-top: 20px;
    }
    .comment-form {
        width: 300px;
    }
    .comment-text {
        word-wrap: normal;
        margin: 10px;
        width: 250px;
    }
    .creator {
        margin-left: 10px;
        min-width: 25px;
    }
}