.r-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
    min-height: 52px;
}

.r-comment-container:nth-child(even) {
    /* background-color: #d9c9ba; */
    background-color: rgba(68, 85, 99, 0.219);
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.r-comment-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.089);
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}