.img-title {
  width: 300px;
  height: 40px;
  padding: 0px;
  padding-top: 10px;
  margin: 0px 10px 0px -5px;
}

.img-title:hover {
  width: 300px;
  height: 45.02px;
  margin: -2.5157px 10px -2.51px -5px;
}

@media screen 
  and (max-width: 815px) { 

  .img-title {
    margin: -2px 10px -15px 15px;
  }

  .img-title:hover {
    margin: -4.5157px 10px -17.51px 15px;
  }
  
}

@media screen and (max-width: 375px){

  .img-title {
    margin: 30px 0px -15px 0px;
  }

  .img-title:hover {
    margin: 27.4843px 0px -17.51px 0px;
  }

  .mobile-title {
    width: 100%;
  }
}