.requestflooritem { 
    margin: 20px;
    padding: 3px 0px 40px 0px;
    background-color: #e4d3b9;
    color: floralwhite;
    width: 200px;
    height: 105px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}