.Home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-border-1 {
    display: flex;
    justify-content: center;
    background-image: url(https://i.imgur.com/4pG4fSl.png);
    background-repeat: no-repeat;
    background-size: 700px 600px;
    width: 700px;
    height: 600px;
    margin: 50px;
}

.home-p {
    letter-spacing: 1px;
    font-size: 12px;
    margin: 160px 148px 160px 165px;
    text-align: start;
    z-index: 100;
}

.doc-link {
    color: #b4490c;
}

.doc-link:hover {
    font-weight: bold;
}