.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 90px;
    letter-spacing: 1px;
    font-size: 12px;
}
.home-border-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.home-border-2 {
    margin: 50px 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 20px 50px;
}

.home-text {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
}

.home-p {
    text-align: start;
}

.doc-link {
    color: #b4490c;
}

.doc-link:hover {
    font-weight: bold;
}