
.link-label {
    color: #3c0c15;
    font-size: 12px;
    margin-right: 50px;
    min-width: 70px;
    text-align: left;
}

.link-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 250px;
}

.about {
    margin-bottom: 5px;
}

.link-detail-card {
    /* background-color:#dbd7d2; */
    /* background-color:#d6ceb9; */
    background-color: rgb(173,255,47, 0.25);
    /* background-color:#d9c9ba; */
    /* background-color:#e4d4c3; */
    margin: 40px 20px 20px 20px;
    color: floralwhite;
    padding: 10px 20px 10px 10px;
    color: black;
    width: 500px;
    min-height: 100px;
    display: grid;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}