
.link-label {
    color: #3c0c15;
    font-size: 12px;
    margin-right: 50px;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 250px;
}

.about {
    margin-bottom: 5px;
}

.link-detail-card {
    /* background-color:#dbd7d2; */
    /* background-color:#d6ceb9; */
    background-color: rgb(173,255,47, 0.25);
    background-color: rgba(12, 56, 10, 0.171);
    background-color: rgba(58, 126, 18, 0.171);
    background-color: 		#dad7c0;
    /* background-color:#d9c9ba; */
    /* background-color:#e4d4c3; */
    margin: 15px 20px 20px 20px;
    color: floralwhite;
    padding: 10px 20px 10px 20px;
    color: black;
    width: 500px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}


@media screen and (max-width: 375px){

    .link-detail-card {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        min-width: 335px;
        min-height: 270px;
    }

    .link-label {
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 10px;
        
    }
    .link-info {
        font-size: 10px;
        min-width: 110px;
    }
    .link-city {
        margin-right: 100px;
        width: 200px;
        font-size: 14px;
        word-break: unset;
        
    }
}