.search-item {
    text-align: left;
    margin-bottom: 1px;
}

.web-erase {
    display: none;
}

.search-bar {
    color: #3c0c15;
    font-size: 12px;
    position: fixed;
    /* margin: 300px; */
    margin-top: 300px;
}

.search-select {
    width: 160px;
    margin-top: 5px;
}

.search-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.by-location {
    margin-bottom: 50px;
}

.search-btn {
    border: none;
    padding: 8px;
    border-radius: 8px;
    height: 37.2px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    margin-top: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.search-btn:hover {
    font-weight: bold;
}

.search-label { 
    margin-left: 2px;
}

.search-select {
    background-color: rgba(0, 0, 0, 0.103);
    outline: none;
    border-style: hidden;
    color: #3c0c15;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 37.2px;
    padding-top: 7px;
}

.search-select:focus {
    outline: none;
}

.search-location {
    margin-bottom: 40px;
}


.refresh-btn {
    margin-top: 40px;
    margin-right: 10px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    text-transform: lowercase;
    width: 130px;
}

.refresh-btn:hover {
    font-weight: bold;
}

.search-title {
    color: #3c0c15;
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 15px;
  }

@media screen and (max-width: 375px){
    .search-bar {
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .web-erase {
        display: inline;
    }

    .search-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-select {
        width: 125px;
    }

    .search-item {
        text-align: left;
        margin-bottom: 1px;
        width: 155px;
    }

    .refresh-btn {
        height: 31px;
        padding: 0px 0px 2px 0px;
    }

    .search-button {
        display: flex;
        justify-content: flex-end;
        width: 325px;
        margin-top: -71px;
        margin-left: -25px;
    }

    .search-location {
        margin-right: 8px;
    }

    .search-category {
        margin-left: 8px;
    }
}