.request-detail-card {
    margin: 15px 20px 20px 20px;
    background-color: #e1e0d3;
    background-color: #e4d3b9;
    color: floralwhite;
    padding: 10px 20px 10px 20px;
    color: black;
    width: 500px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}


@media screen and (max-width: 375px){

    .request-detail-card {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 335px;
        min-height: 270px;
    }
}