.nav {
    text-decoration: none;
    color: black;
    min-width: 0px;
}

.nav:hover {
    font-weight: bold;
    color: #3c0c15;
}

.nav-bar {
    border-bottom: solid 1px #3c0c15;
    padding-bottom: 5px;
    margin-right: 0px;
    min-width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 13px;
    color: #3c0c15;
    height: 40px;
    /* text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185); */
}

/* @media screen 
  and (max-width: 825px) { 
    .nav-bar {
        min-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 40px;
        margin-top: -5px;
    }
} */

@media screen and (max-width: 375px){
    .nav-bar{
        min-width: 100%;
        /* display: flex;
        justify-content: flex-end;
        align-items: flex-end; */
        font-size: 10px;
        
    }
    .nav {
        margin: 0px;
    }
}