.nav {
    text-decoration: none;
    color: black;
}

.nav:hover {
    font-weight: bold;
}

.nav-bar {
    border-bottom: solid 1px black;
    margin-left: 50px;
    min-width: 70%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}