.foo-link {
    text-decoration: none;
    color: black;
    min-width: 0px;
    margin-top: 12px;
}

.foo-link:hover {
    font-weight: bold;
    color: #3c0c15;
}

.foo {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #3c0c15;
    min-width: 0px;
    margin-top: 10px;
    margin-right: 22px;
}


.footer-bar {
    background-color: #FFF4DE;
    left:0;
    bottom:0;
    right:0;
    height: 50px;
    margin-top: 50px;
    border-top: solid 1px #3c0c15;
    margin-right: 80px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color: #3c0c15;
    position: fixed;
    font-size: 12px;
}

.mobile-foo {
    display: none;
}

@media all and (max-width: 375px) {
    .footer-bar {
        margin: 0px 20px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .foo {
        margin-left: 0px;
        display: none;
    }
    .mobile-foo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -5px;
    }
    .foo-link {
        margin-top: 0px;
        margin-right: -5px;
    }
  }