.signup-header {
    display: flex;
    justify-content: center;
}

.signup-form {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: Futura;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.col-sm-12 {
    /* background-color: aliceblue; */
    margin-top: 30px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cancel {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;

}

.cancel:hover {
    font-weight: bold;
}