.signup-container {
    margin-top: 65px;
    display: grid;
    justify-content: center;
}
.signup-header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.signup-form {
    margin: 6px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .buttons {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
} */

.button:hover {
    background-color: #3c0c15;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid white;
}

.cancel {
    text-decoration: none;
    color: black;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 7px;
}

.cancel:hover {
    font-weight: bold;
}

.sign-up-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-radius: 4px;
    background-color: #ece2cb;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    width: 200px;
    margin-bottom: 10px;
}

.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.sign-up-form-input {
    text-align: center;
    background-color: #e7e3da;
    text-transform: lowercase;
    outline: none;
    border-style: hidden;
    color: #3c0c15;
    height: 32px;
    border-radius: 4px;
    margin-top: 3px;
    width: 160px;
    font-size: 14px;
}

.sign-up-btn {
    border: none;
    text-transform: lowercase;
    font-size: 12px;
    background-color: #3c0c15;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 3px;
    height: 34px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn:hover {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}