.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.title {
  text-decoration: none;
  color: black;
}

.title:hover {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

*:focus {
  outline: none;
}