html {
  background-color: #FFF4DE;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.title {
  text-decoration: none;
  color:	#3c0c15;
  font-size: 42px;
  font-family: 'Permanent Marker'
}

.title:hover {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: row;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 200px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 20px;
}

.page-content {
  margin-left: 180px;
  width: 950px;
  height: 1000px;
}

.posts {
  display: flex;
  justify-content: flex-start;
}