.l-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
    min-height: 52px;
}

.l-comment-container:nth-child(even) {
    background-color: #d8d2c8;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.l-comment-container:nth-child(odd) {
    background-color: #e6decc;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}


@media screen and (max-width: 375px){
    .l-comment-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        max-width: 335px;
        min-height: 52px;
    }
}