.serviceflooritem { 
    margin: 20px;
    background-color: #d2dbcf;
    color: floralwhite;
    width: 200px;
    min-height: 140px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.serviceflooritem-detail-name {
    text-align: center;
    margin: 0px 5px;
}

.name {
    color: #3c0c15;
    font-size: 13px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185);
    margin: -10px 5px 0px 5px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name:hover {
    font-weight: bolder;
}

.serviceflooritem-detail-location {
    text-align: right;
}

.location {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.479);
    height: 10px;
    padding: 10px 10px 15px 0px;
    margin: 0px;
}


.categories {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.479);
    height: 10px;
    padding: 10px 0px;
    margin: 0px;
}