.serviceflooritem { 
    margin: 20px;
    padding: 10px 20px 40px 20px;
    background-color:#d9c9ba;
    color: floralwhite;
    min-width: 150px;
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
}

.name {
    color: #3c0c15;
    font-size: 13px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185);
}
.name:hover {
    font-weight: bolder;
}

.serviceflooritem-detail-location {
    text-align: left;
}

.location {
    font-size: 11px;
    color: black;
    opacity: 50%;
}