.contact-p {
    height: 400px;
    font-size: 11px;
    width: 380px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: -20px;
}


.contact-home {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #FFF4DE;
    margin: 0;
    width: 100%;
    height: 80vh;
    position: fixed;
}

.contact-border-1, .contact-border-2, .contact-border-3, .contact-border-4 {
    position: absolute;
}

.contact-page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 100px;
    position: relative;
    background-color: #FFF4DE;
    margin-right: 50px;
    border: solid 1px black;
    width: 450px;
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    height: 450px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -100;
}

.contact-title {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: -15px;
}

.dev-name {
    display: flex;
    justify-content: center;
    color: #3c0c15;
    font-size: 12px;
}

.isa {
    margin: 5px;
    padding: 7px;
}

.paula {
    margin: 5px;
    padding: 7px;
}

.email-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.email {
    margin-left: 5px;
}
.email:hover {
    font-weight: bold;
    cursor: pointer;
}

.contact-card1, .contact-card2, .contact-card3 {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }
  
  .contact-card1 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    border: solid 1px black;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    padding: 8px;
    z-index: -1;
  }
  
  .contact-card2 {
    min-width: 60ch;
    min-height: 60ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    border: solid black 1px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-card3 {
      min-width: 50ch;
      min-height: 50ch;
      width: 25vw;
      height: 25vw;
      max-width: 100ch;
      max-height: 100ch;
      border: solid 1px black;
      box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
      background-color: rgba(88, 62, 22, 0.062);
  }
  

  .contact-card4 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    padding: 20px;
    border: solid black 1px;
    border-radius: 5px;
}

.contact-card5 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    padding: 10px;
    border: solid black 1px;
    border-radius: 5px;
    background-position: left center;
}

.mobile-contact {
    display: none;
}
.mobile-contact-p {
    display: none;
}

@media screen and (max-width: 375px){
    .Home {
        display: none;
    }
    .contact-home {
        height: 400px;
    }
    .contact {
        display: none;
    }
    .contact-p {
        display: none;
    }
    .contact-card1, .contact-card2, .contact-card3, .contact-card4, .contact-card5 {
        display: none;
    }
    .mobile-contact {
        display: inline-block;
        border-radius: 5px;
        padding: 20px;
        width: 350px;
        height: 450px;
    }
    .mobile-contact-p {
        display: inline-block;
        border: solid 1px black;
        border-radius: 5px;
        font-size: 12px;
        height: 460px;
        margin-top: 80px;
        margin: 30px;
        background-color: rgba(88, 62, 22, 0.062);
    }
    .email-div {
        padding-bottom: 10px;
    }
}