.contact-p {
    height: 400px;
    font-size: 11px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 5px;
}


.contact-home {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #FFF4DE;
    margin: 0;
    width: 100%;
    height: 80vh;
    position: fixed;
}

.contact-border-1, .contact-border-2, .contact-border-3, .contact-border-4 {
    position: absolute;
}

.contact-page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 100px;
    position: relative;
    background-color: #FFF4DE;
    margin-right: 50px;
    border: solid 1px black;
    width: 450px;
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    height: 450px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -100;
}

.contact-title {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: -15px;
}

.div-break {
    border-bottom: 1px solid black;
    width: 80%;
    height: 1px;
}

.dev-name {
    display: flex;
    justify-content: center;
    color: #3c0c15;
    font-size: 13px;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185);
    margin-bottom: 0px;
}

.us {
    margin: -5px 15px 20px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 260px;
}

.isa {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.paula {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.email-div {
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email {
    margin-left: 5px;
}

.email:hover {
    font-weight: bold;
    cursor: pointer;
}

.contact-card1, .contact-card2, .contact-card3 {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
}
  
.contact-card1 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    border: solid 1px black;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    padding: 8px;
    z-index: -1;
}
  
.contact-card2 {
    min-width: 60ch;
    min-height: 60ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    border: solid black 1px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-card3 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    border: solid 1px black;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, 0.185);
    background-color: rgba(88, 62, 22, 0.062);
}
  

.contact-card4 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    padding: 20px;
    border: solid black 1px;
    border-radius: 5px;
}

.contact-card5 {
    min-width: 50ch;
    min-height: 50ch;
    width: 25vw;
    height: 25vw;
    max-width: 100ch;
    max-height: 100ch;
    padding: 10px;
    border: solid black 1px;
    border-radius: 5px;
    background-position: left center;
}

.mobile-contact {
    display: none;
}
.mobile-contact-p {
    display: none;
}

@media screen and (max-width: 375px){

    .Home, .contact-card1, .contact-card2, .contact-card3, .contact-card4, .contact-card5 {
        display: none;
    }

    .contact-home {
        width: 375px;
        height: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        font-size: 10px;
    }

    .mobile-contact {
        border: solid 1px black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        text-align: justify;
        border-radius: 5px;
        padding: 15px;
        max-width: 310px;
        max-height: 290px;
        min-width: 310px;
        min-height: 290px;
        position: relative;
        margin-left: 0px;
        margin-top: 0px;
    }

    .mobile-contact-p-2 {
        border: solid 1px black;
        border-radius: 5px;
        max-width: 315px;
        max-height: 350px;
        min-width: 315px;
        min-height: 350px;
        position: absolute;
        margin-top: 0px;
    }

    .mobile-contact-p-1 {
        border: solid 1px black;
        background-color: rgba(88, 62, 22, 0.062);
        border-radius: 5px;
        position: absolute;
        max-width: 290px;
        max-height: 290px;
        min-width: 290px;
        min-height: 290px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-title {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        font-size: 9px;
    }

    .dev-name {
        font-size: 11px;
        margin-bottom: -3px;
    }

    .us {
        margin: 0px 0px 0px 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 240px;
    }

    .isa {
        margin-bottom: 5px;
    }
    
    .paula {
        margin-bottom: 15px;
    }

    .mobile-contact-text {
        width: 255px;
        margin-bottom: 0px;
        justify-content: center;
        align-items: center;
        position: fixed;
        text-align: center;
    }

    .email {
        margin-left: 0px;
    }

    .email-div {
        font-size: 9px;
        margin-top: 0px;
    }

    .div-break {
        border-bottom: 1px solid black;
        height: 1px;
        margin-left: 10%;
    }

    .x2 {
        animation: x2 20s linear infinite alternate;
    }
    
    .y2 {
        animation: y2 25s linear infinite alternate;
    }
    
    @keyframes x2 {
        0% {
            transform: translateX( calc(2vw) );
          }
        100% {
            transform: translateX( calc(-2vw));
        }
    }
    
    @keyframes y2 {
        0% {
          transform: translateY( calc(1.5vh) );
        }
        100% {
            transform: translateY( calc(-1.5vh));
        }
    }
}